body {
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
.section-one {
    background-image: url(images/sodkah.png);
    
    background-repeat: no-repeat;

}

.headings {
    text-align: center;
    padding: 5% 20%;
    color: white;
    
    
    
}

.headings h1 {
    font-size: 3em;
    text-shadow: 5px 5px 10px black, -5px -5px 10px black
}
.headings p{
    color: black;
    padding-left: 20%;
    padding-right: 20%;
    font-size: small;
}

.headings a{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color:white;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: 500;
}

.donate-today {
    text-align: center;
    padding-top: 5%;
    

}
.donate-today h1{
    font-size: 2em;
    font-weight: 700;
    
}

.donate-today p {
    padding-left: 20%;
    padding-right: 20%;
    

}

.amount {
    display: flex;
    gap: 20px;
    color:rgb(73, 72, 72);
    padding-left: 30%;
    padding-right: 30%;
    padding-bottom: 3%;
    
}
.amount h2 {
    width: 20%;
    
    text-align: center;
    padding: 30px 15px;
    background-color: rgb(248, 239, 239);
    border-radius: 5px;
    font-weight: 700;
    
}
#amount-200 {
    color: orangered;
    border: 2px solid orangered;
    background-color: rgb(250, 231, 221);
}

.deposit {
    text-align: center;
}

.deposit a {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color:white;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: 500;
}
.deposit input {
    border: none;
    border-bottom: 1px solid silver;
    padding-left: 15%;
    padding-right: 15% ;
    margin-right: 22%;
    margin-left: 25%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;

}
.donate-plan {
    text-align:center;
    padding-top: 5%;
    padding-bottom: 1%;
    

}

.section-three {
    display: flex;
}
.three-division {
    
    border: 1px solid white;
    margin: 1% 1%;
    padding: 20px 10px;
    border-radius: 10px;
    color: black;
    
   
}
#food {
    margin-left: 15%;
    background-image: linear-gradient(rgb(198, 232, 245), rgb(190, 236, 236));
}

#education {
    margin-right: 15%; 
    background-image: linear-gradient(rgb(243, 211, 152), rgb(240, 192, 184));
    background-color:
}
#shelter {
    
    background-image: linear-gradient(rgb(216, 231, 175), rgb(189, 230, 41));
}