body {
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

.header {
    background-image: url(images/sodkah.png);
    background-repeat: no-repeat;
    height: 630px;
    width: 100%;
}

.headings {
    text-align: center;
    padding: 2% 10%;
    color: white;
}

.headings h1 {
    font-size: 4em;
    text-shadow: 5px 5px 10px black, -5px -5px 10px black;
    margin-left: 10%;
    margin-right: 10%;
}

.headings p {
    color: rgb(49, 48, 48);
    padding-left: 20%;
    padding-right: 20%;
    font-size: 16px;
    padding-bottom: 5%;
    padding-top: 5%;
    text-align: justify;
    font-weight: 700;
}

.headings a {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    border-radius: 5px;
    padding: 20px 25px;
    font-weight: 600;
}

.donate-today {
    text-align: justify;
    padding-top: 5%;
}

.donate-today h1 {
    font-size: 2em;
    font-weight: 700;
    margin-left: 40%;
    margin-right: 40%;
}

.donate-today p {
    padding-left: 20%;
    padding-right: 20%;
    justify-content: center;
}

.amount {
    display: flex;
    gap: 20px;
    color: rgb(73, 72, 72);
    padding-left: 30%;
    padding-right: 30%;
    padding-bottom: 3%;
}

.amount h2 {
    width: 20%;

    text-align: center;
    padding: 30px 15px;
    background-color: rgb(248, 239, 239);
    border-radius: 5px;
    font-weight: 700;
}

#amount-200 {
    color: orangered;
    border: 2px solid orangered;
    background-color: rgb(250, 231, 221);
}

.deposit {
    text-align: center;
}

.deposit a {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    border-radius: 5px;
    padding: 20px 25px;
    font-weight: 600;
}

.deposit input {
    border: none;
    border-bottom: 1px solid silver;
    padding-left: 15%;
    padding-right: 15%;
    margin-right: 22%;
    margin-left: 25%;
    padding-top: 10px;
    font-size: 20px;
}

.donate-plan {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 1%;
}

.donate-plan p {
    margin-left: 25%;
    margin-right: 25%;
    text-align: justify;
}

.charity-plan {
    display: flex;
    background-image: url(images/homeless-2.png);
    width: 100%;
    background-repeat: no-repeat;
    align-content: center;
}

.three-division {

    border: 1px solid white;
    margin: 1% 1%;
    padding: 20px 10px;
    border-radius: 10px;
    color: black;
}

.three-division small {

    text-align: justify;
}

#food {
    margin-left: 15%;
    background-image: linear-gradient(rgba(198, 232, 245, 0.8), rgba(190, 236, 236, 0.7));
}

#shelter {

    background-image: linear-gradient(rgba(216, 231, 175, 0.8), rgb(189, 230, 41, 0.7));
}


#education {
    margin-right: 15%;
    background-image: linear-gradient(rgba(243, 211, 152, 0.8), rgba(240, 192, 184, 0.7));
}

.victims {
    display: flex;
    background-position: right;
    margin-bottom: 5%;
    padding-right: 5%;
}

.contribute {
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 10%;
    margin-bottom: 5%;
}

.contribute img {
    width: 100%;
    border-radius: 10px;
}

.contribute h1 {
    color: orangered;
    font-size: 30px;
}

.contribute-link {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    border-radius: 5px;
    padding: 20px 25px;
    font-weight: 600;
    margin-top: 5%;
}

.self-judgement {
    text-align: center;
    margin: 3% 15%;
}

.self-judgement h1 {
    color: orangered;
}

.statistics {
    display: flex;
    box-shadow: 10px 10px 30px silver, -10px -10px 30px silver;
    margin: 5% 10%;
    padding: 3% 2%;
    border-radius: 15px;
}

.fund-rising-info {
    width: 33.5%;
    text-align: center;
}

.fund-rising-info img {
    width: 150px;
    height: 140px;
}

.fund-rising-info h1 {
    font-size: 2em;
    font-weight: 700;
}

.get-updates {
    text-align: center;
    margin: 5% 10%;
}

.subscription {
    min-height: 30vh;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2% 25%;
    border-radius: 10px;
}

.subscription label {
    position: relative;

}

.subscription input {
    border: none;
    padding: 15px;
    width: 300px;
    border-radius: 5px;
    background-color: rgb(240, 244, 247);
}

.subscription button {
    border: none;
    padding: 15px 20px;
    position: absolute;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    background-image: linear-gradient(orange, tomato);
    color: white;
    border-radius: 5px;
    font-weight: 500;
}

footer {
    background-color: black;
    text-align: center;
    height: 160px;
    color: white;
    padding-top: 5px;
}

footer h1 {
    font-weight: 500;
    margin-top: 1%;
}

.orange {
    color: rgb(226, 152, 14);
    padding: 5px;
}

.silver {
    color: silver;
}

footer small {
    color: rgb(224, 226, 228);
    font-size: small;
}